.footer {
    padding: 92px 48px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

@media screen and (max-width: 768px) {
    .footer {
        padding: 88px 24px 24px;
    }
}

@media screen and (max-width: 550px) {
    .footer {
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }
}

@media screen and (max-width: 425px) {
    .footer {
        padding: 64px 16px 24px;
    }
}