.places__item {
    margin-bottom: 80px;
    display: grid;
    grid-template-areas: 
        "title website"
        "image text";
    gap: 48px 40px;
    list-style: none;
}

.places__item:last-child {
    margin-bottom: 92px;
}